* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

.section1 {
    background-image: url(https://images.unsplash.com/photo-1499914485622-a88fac536970?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    background-size: cover;
    height: 100vh;

}

.headerC {

    color: white;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    height: 90px;

}

.menu {
    width:100%;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin-left: 120px;
    margin-right: 120px;
    
}

.menuRight {
    width: 400px;
    display: flex;
    justify-content: space-between;
}

.home {
   border: solid;
   padding-bottom: 10px;
   border-top: 0px;
   border-left: 0px;
   border-right: 0px;
   border-color: #f13c77;
   color: #f13c77;

}

.contentC {
    margin-top: -90px;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.content {
    margin-left: 120px;
    margin-right: 120px;
}

.buttonC {
    display: flex;

}

h1 {

    font-weight: bold;
    font-size: 48px;
    margin-bottom: 30px;
}
p {
    font-size: 16px;
    color: rgb(200, 200, 200);
    margin-bottom: 50px;
}

.logo {
    filter: invert(35%) sepia(56%) saturate(4003%) hue-rotate(320deg) brightness(99%) contrast(90%);}

.btnContact {
    background-color: #f13c77;
    padding: 20px;
    border-radius: 5px;
    width: 150px;
    text-align: center;
    margin-right: 30px;
}
.btnContact:hover {
    background-color: #ecccc3;
    color: #f13c77;
    transition: 0.7s;
}

.btnProject {
    background-color: rgb(200, 200, 200);
    color: black;
    padding: 20px;
    border-radius: 5px;
    width: 150px;
    text-align: center;
}


.btnProject:hover {
    background-color: #f13c77;
    color: #ecccc3;
transition: 0.7s;
}

.section2 {
    display: flex;
    margin-left: 120px;
    margin-right: 120px;
    flex-direction: row;
    margin-top:-380px;
    margin-bottom: 80px;
    /* height: 100vh; */
    
}

.kiri {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;

}
.kanan {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1;
    margin-left: 50px;
}
.photo-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* flex: 1; */
    gap: 30px;
}

.photo-grid > img {
    width: 100%;
    height: auto;
}

.btnLearn {
    box-sizing: border-box;
    border: 3px solid;
    border-color: #f13c77;
    color: #f13c77;
    padding: 20px;
    border-radius: 5px;
    width: 150px;
    text-align: center;
    margin-right: 30px;
}

.btnLearn:hover {
    box-sizing: border-box;
    border: 3px solid;
    border-color: #f13c77;
    background-color: #f13c77;
    color: white;
    transition: 0.7s;
}
    
.colorH{
    background-color: rgb(241,60,119,0.1);
    height: 450px;
}
h2 {
    font-size: 36px;
    margin-bottom: 50px;
    padding-right: 100px;
    font-weight: 900;
}

.kiri > p{
    color: rgb(134, 134, 134);
    padding-right: 100px;
}